*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color: white;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.vid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 100px;
    
}
.col-2 img{
    max-width: 100%;
    padding: 0px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: white;
}

.btn{
    display: inline-block;
    background: #ff7200;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.6s ease-in-out;
}
.btn:hover{
    background: #B1650A;
}

.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px 0px white;
}
.col-3 img{
    width: 100%;
}
.swiper{
    width: 35%;
    height: fit-content;
    box-shadow: 0 0 20px 0px white;
}
.swiper-slide img{
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: white;
}
.swiper .swiper-pagination-bullet-active{
    background: #45f3ff;
}


.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    color: white;
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 20px 0px white;
}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: white;
}
.title::after{
    content: '';
    background: #ff7200;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: lightcyan;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: white;
}

.col-4:hover{
    transform: translateY(-10px);
}

/*-------testmonial------*/
.testmonial{
    padding-top: 100px;
}
.testmonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px white;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.testmonial .col-3 img{
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;
}
.testmonial .col-3:hover{
    transform: translateY(-10px);
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: wheat;
}
.testmonial .col-3 h3{
    font-weight: 600;
    color: #ff7200;
    font-size: 16px;
}

/*---Brands---*/
.brands{
    margin: 100px 50px; 
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.4s ease-in-out;
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*---Footer*/
.footer{
    background: rgb(23, 71, 71);
    color: gray;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: gray;
}
.footer h3{
    color: black;
    margin-bottom: 20px;
    font-weight: bolder;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
} 
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: grey;
    height: 1px;
    margin: 20px 0;
}
.footer-col-4 a{
    color: grey;
    font-weight: bold;
}
.CopyRight{
    text-align: center;
}

.menu-icon{
    box-shadow: white;
    width: 50px;
    margin-left: 5px;
    display: none;
}

/*-------Media query for menu-------*/
@media only screen and (max-width: 800px){
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #ff7200;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.4s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*------All products page---*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
    color: white;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}

.col-4{
    margin: 0 20px 100px;
}

/*--Single Product--*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
    margin: 40px 390px;
    box-shadow: 0 0 20px 0px white;
}
.col-2 u{
    color: #ff7200;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid red;
}
input:focus{
    outline: none;
}

/*--Cart Items page--*/

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: white;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: white;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: white;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid white;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: white;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.shop-item-title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: white;
}

.shop-item-title::after{
    content: '';
    background: #45f3ff;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/*---Media Query for less then 600 screen size*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .vid{
        width: 100%;
        height: auto;
    }
}